.HamburgerMenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  @include flexbox(column, flex-start, flex-start, 20px);
  background-color: $dark;
  z-index: -1;
  padding-top: 18vh;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  .formHamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    width: 100vw;
    padding: 0 20px;
    margin-bottom: 20px;
    z-index: 10;

    .inputHamburger {
      width: 100%;
      display: block;
      outline: none;
      border-radius: 25px;
      border: none;
      padding: 10px 40px;
    }

    .loginBtn {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      border-radius: 25px;
      background-color: $orange;
      color: $white;
      font-weight: 700;
      height: 35px;
      border: 0;
    }

    .searchBtn {
      position: absolute;
      top: 7px;
      left: 30px;
      color: $dark;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .menuItem {
      padding: 20px;
      width: 100vw;
      height: 100px;
      font-family: $font;
      font-size: $h3-desktop;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $orange;
      cursor: pointer;
    }
  }
  .homeMenuList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // gap: 10px;
    // padding: 0 20px;
    // position: absolute;
    // bottom: 40px;

    .homeMenuItem {
      font-size: $body-mobile;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
      color: $white;
      position: relative;

      &:hover {
        text-decoration: underline;
      }

      .dot {
        position: absolute;
        top: 0px;
        right: -8px;
        width: 10px;
        height: 10px;
        background-color: $orange;
        border-radius: 50%;
      }
    }
  }
}
