.HamburgerMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $dark;
    z-index: 10;
  

    .menuList{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        gap: 10px;
        height: 100vh;

        .menuItem{
            padding: 10px;
            width: 95vw;
            height: 90px;
            font-size: $h1-mobile;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $orange;
            cursor: pointer;
        }
    }
    .homeMenuList{
        font-family: $font;
        display: flex;
        justify-content: space-between;
        

        .homeMenuItem{
            padding: 10px;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-size: $didascalia-mobile;
            cursor: pointer;
        }
    }
    
}