.SecondaryButton {
  font-weight: 500;
  font-size: $body-mobile;
  font-family: $font;
  padding: 10px 30px;
  border: 0;
  border-radius: 25px;
  color: $dark;
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  .dot {
    width: 6px;
    height: 6px;
    border: 1px solid $white;
    border-radius: 100%;
    background-color: $white;
  }
}
