.BuyTicketSection {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .textSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .title {
    font-size: $h3-mobile;
    margin-bottom: 5px;
  }

  .text {
    font-weight: 300;
    text-align: center;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 768px) {
  .BuyTicketSection {
    height: 40vh;

    .textSection {
      top: 60px;
    }
    .title {
      font-size: $h3-desktop;
    }
  }
}
