@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.Hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $dark;
  @include mobile {
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .images {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  

  .title {
    display:flex;
    object-fit: cover;
    align-items: center;
    width: 100vh;
    // position: absolute;
    // top: 200px;
    // left: 0px;
    // font-family: "Anton", sans-serif;
    // text-transform: uppercase;
    // text-align: center;
    // font-size: 100px;
    // letter-spacing: 0.15rem;

    @include tablet {
      font-size: 80px;
    }

    @include mobile {
      font-size: 50px;
    }
  }
}
