.MainLayout {
  .children {
    position: fixed;
    overflow-y: hidden;

    @include tablet {
      position: relative;
      overflow-y: auto;
    }
    @include desktop {
      position: relative;
      overflow-y: auto;
    }
  }
}
