.About {
  color: $white;
  background-color: $dark;
  font-family: $font;

  .titolo {
    color: $orange;
    margin: 130px 80px 0 80px;

    @include tablet {
      margin-left: 40px;
    }

    @include mobile {
      margin-left: 20px;
    }
  }

  .aboutContainer {
    height: 700px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // gap: 30px;

    @include mobile {
    }

    h3 {
      font-size: $h3-mobile;
    }
    p {
      font-size: $body-mobile;
      font-weight: 300;
      line-height: 1.3em;
      margin-top: 5px;
      max-width: 500px;
    }

    .profile {
      // border: 1px solid white;
      width: 230px;
      padding: 5px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mobile {
        width: 300px;
      }

      .profileImg {
        object-fit: cover;
        object-position: center top;
        margin-bottom: 10px;

        @include mobile {
          margin-top: 30px;
        }
      }
      .profileText {
        color: $white;
        background-color: $dark;
        font-family: $font;
        width: 100%;

        @include mobile {
          text-align: center;
          font-size: $body-mobile;
          width: 100%;
        }

        p {
          width: 100%;
        }
      }
      .socialIcons {
        color: $orange;
        border-radius: 6px;
        margin-top: 15px;

        @include mobile {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 50px;
        }

        .textIcon {
          display: flex;
          align-items: center;
          gap: 7px;
        }
      }
    }
  }
}
