.Cart {
  @include flexbox(column, flex-start, flex-start, 30px);
  font-family: $font;
  margin: 15vh 0px 5vh 0px;
  padding: 0px 120px;
  width: 100%;
  min-height: 45vh;

  @include tablet {
    padding: 0px 80px;
  }

  @include mobile {
    padding: 0px 20px;
  }

  .line {
    width: 100%;
  }

  .checkout {
    width: 100%;
    @include flexbox(row, flex-end, center, 30px);
  }

  .checkoutBtn {
    background-color: transparent;
    border: 1px solid $dark;
  }
}

@media (max-width: 768px) {
  .checkout {
    width: 100%;
    justify-content: space-between !important;
  }
}
