.main {
  width: 100%;
  font-family: $font;

  .imageContainer {
    width: 100vw;
    position: relative;
    margin-top: 10vh;

    .image {
      position: relative;
      width: 100%;
      overflow: hidden;

      @include tablet {
        height: 550px;
      }
      @include desktop {
        height: 550px;
      }

      .img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top center;
      }
    }

    .overlay {
      height: 160px;
      background: rgb(28, 28, 28);
      background: linear-gradient(
        180deg,
        rgba(28, 28, 28, 0) 0%,
        rgba(28, 28, 28, 0.83) 74%,
        rgba(28, 28, 28, 1) 100%
      );
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .title {
      position: absolute;
      bottom: 10px;
      left: 0;
      font-size: $h2-mobile;
      color: $orange;
      padding: 0 20px;

      @include tablet {
        font-size: $h3-desktop;
        padding: 0 40px;
      }
      @include desktop {
        font-size: $h1-desktop;
        max-width: 60%;
        padding: 0 40px;
      }
    }
  }

  .mainSection {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: $body-desktop;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $body-desktop;
    }

    .info {
      padding: 0 40px;
      @include flexbox(column, flex-start, flex-start, 30px);

      @include mobile {
        padding: 0 20px;
      }

      ul {
        list-style: none;
        @include flexbox(column, flex-start, flex-start, 10px);
        margin-top: 20px;

        li {
          @include flexbox(row, flex-start, flex-start, 10px);
          font-size: $body-mobile;
          font-weight: 300;

          @include desktop {
            font-size: $body-desktop;
          }
        }
      }

      .description {
        h3 {
          font-size: $h3-mobile;
        }
        p {
          font-size: $body-mobile;
          font-weight: 300;
          line-height: 1.3em;
          margin-top: 5px;
          max-width: 500px;

          @include desktop {
            font-size: $body-desktop;
            max-width: 68%;
          }
        }
      }
    }

    .mapContent {
      width: 390px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 0 20px;
      margin-top: 45px;

      .textSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .mapTitle {
          font-size: $h3-mobile;
        }

        .fullScreen {
          &:hover {
            text-decoration: underline;
          }

          a {
            font-size: $didascalia-mobile;
            text-decoration: underline;
          }
        }
      }

      .map {
        border-radius: 8px;
      }
    }
  }
}
