.Search {
  min-height: 37vh;

  .results {
    margin-top: 130px;
    font-family: $font;
    color: $orange;
    font-size: $body-mobile;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;

    @include tablet {
      font-size: $body-desktop;
      padding: 0 40px;
      margin-left: 40px;
    }

    @include desktop {
      font-size: $h4-desktop;
      padding: 0 40px;
      margin-left: 80px;
    }
  }

  .notfound {
    font-family: $font;
    color: $white;
    font-size: $body-mobile;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;

    @include tablet {
      font-size: $body-desktop;
      padding: 0 40px;
      margin-left: 40px;
    }

    @include desktop {
      font-size: $h4-desktop;
      padding: 0 40px;
      margin-left: 80px;
    }
  }
}
