.CardList {
  display: flex;
  flex-direction: column;
  font-family: $font;
  gap: 30px;
  padding: 0 40px;

  @include mobile {
    padding: 0 20px;
  }

  p {
    color: $orange;
    font-size: $body-mobile;
    font-weight: bold;
    margin-bottom: 10px;

    @include tablet {
      font-size: $body-desktop;
    }

    @include desktop {
      font-size: $h4-desktop;
    }
  }
}
