.Navbar {
  width: 100%;
  height: 10vh;
  color: $white;
  font-family: $font;
  background-color: rgba(8, 8, 8, 0.642);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .logo {
    cursor: pointer;
  }

  .hamburgerMenu {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    z-index: 10;

    .line {
      width: 100%;
      height: 3px;
      background-color: $white;
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
    }

    .open1,
    .open3 {
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease-in-out;
    }

    .open1 {
      transform: rotate(45deg) translate(2.5px, 5px);
    }
    .open3 {
      transform: rotate(-45deg) translate(2.5px, -5px);
    }
  }

  .nav,
  .search__section {
    display: none;
  }

  .menu {
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .Navbar {
    padding: 0 40px;
    .hamburgerMenu {
      display: none;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 40px;

      .navItem {
        list-style: none;
        font-size: $didascalia-desktop;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .logo {
      position: absolute;
      cursor: pointer;
      top: -38px;
      left: calc(50% - 75px);
    }

    .search__section {
      display: flex;
      align-items: center;
      gap: 20px;

      form {
        input {
          display: none;
        }

        .inputVisibility {
          display: block;
          animation-name: text;
          animation-duration: 4s;
          animation-iteration-count: 1;
          transition: 1s;
          outline: none;
          border-radius: 25px;
          border: none;
          padding: 7px 45px 7px 10px;
        }
      }

      @keyframes text {
        0% {
          left: 200px;
          top: 0px;
        }
        25% {
          left: 0px;
          top: 0px;
        }
      }

      .searchBtn {
        font-size: 25px;
        cursor: pointer;
      }

      .cartBtn {
        font-size: 23px;
        cursor: pointer;
      }
    }

    .menu {
      display: none;
    }
  }
}
