// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//

// color palette

$dark: #1c1c1c;
$mid-grey: #656262;
$orange: #de724e;
$aqua: #99e1db; // da rimuovere se non serve
$white: #ffffff;
