@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

// Font
//--------------------------------------------------------------------//

$font: "Montserrat", sans-serif;

// Font-size
//--------------------------------------------------------------------//

// mobile
$h1-mobile: 40px;
$h2-mobile: 28px;
$h3-mobile: 20px;
$body-mobile: 15px;
$didascalia-mobile: 11px;

// desktop
$h1-desktop: 64px;
$h2-desktop: 50px;
$h3-desktop: 36px;
$h4-desktop: 26px;
$body-desktop: 24px;
$didascalia-desktop: 15px;
$body-desktop: 18px;
$didascalia-desktop: 14px;
