.Footer {
  font-family: $font;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  position: absolute;
  margin-top: 80px;

  @include tablet {
    margin-top: 80px;
    padding: 30px 40px;
  }

  @include desktop {
    padding: 30px 0px;
  }

  .upper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include tablet {
      margin: 0 40px 0 40px;
    }

    @include desktop {
      margin: 60px 120px 0px;
    }

    .left__section {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .logo {
      margin: 2px 0 4px 0;
      width: 140px;
      height: auto;
      object-fit: contain;
    }
    p {
      font-size: $didascalia-mobile;
      font-weight: 300;
      width: 160px;
    }

    .link {
      list-style: none;

      a {
        font-size: $didascalia-mobile;
        font-weight: 300;

        // @include desktop {
        //   margin-bottom: 0;
        // }
      }
    }
  }

  .line {
    border-width: 0.5px;
  }

  .down {
    display: flex;
    justify-content: space-between;

    @include tablet {
      margin: 0 40px 0 40px;
    }

    @include desktop {
      margin: 0px 120px 0px;
    }

    p {
      font-size: $didascalia-mobile;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 768px) {
  .Footer {
    .logo {
      width: 140px;
      height: auto;
    }

    .left__section {
      p {
        font-size: $didascalia-desktop;
      }
    }

    .link {
      list-style: none;

      li {
        font-size: 20px;
        font-weight: 300;

        a {
          font-size: 100px;
        }
      }
    }
  }

  .down {
    display: flex;
    justify-content: space-between;

    p {
      font-size: $didascalia-desktop;
      font-weight: 300;
    }
  }
}
