.MeetArtistSection {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 60px 20px;

  .image {
    object-fit: cover;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-size: $h3-mobile;
    }

    .text {
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 768px) {
  .MeetArtistSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;

    .image {
      width: 350px;
      height: 450px;
    }

    .textContent {
      .title {
        font-size: $h3-desktop;
      }
    }
  }
}
